@import '../../Styles/Settings.scss';
@import '../../Styles/global.scss';


.projects::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -3;
    background-image: $color-gradientTwo;
    transform: skewY(-5deg);
}

.projects {
    position: relative;
    isolation: isolate;
    margin-top: 10em;



    .project-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        margin: 2em 1em;
        width: 200px;
        height: 100px;
        background: $color-gradientTwo;
        border-radius: $radius;
        float: right;


        .project-card__inner {
            margin-bottom: 10%;
        }

        .project-card__number {
            font-family: 'Major Mono Display', monospace;
            position: absolute;
            border: 1px solid white;
            margin: 2%;
            padding: 0.5em;
            font-size: 2em;
            left: 0;
            top: 0;
        }

        .project-card__number::after{
            content: '';
            width: 50%;
            height: 110%;
            inset: -1px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            background:transparent;
        }

        .web-link {
            position: absolute;
            font-size: 1.3em;
            right: 0;
            top: 0;
            padding: 0.5em 2em;
            border-radius: $radius;
            background-color: black;
            margin: 8%;

        }
    }



    .project-card::after,
    .project-card::before{
        content: '';
        position: absolute;
        inset: -.1rem;
        z-index: -1;
        background-image:conic-gradient(
           from var(--gradient-angel),
        #13547a ,
        #80d0c7 ,
        #80d0c7 ,
        #13547a ,
        #80d0c7 ,
        #13547a ,
        );
        border-radius: inherit;
        animation: spin 20s linear infinite;
    }

    .project-card::after{
        filter: blur(2.5em);
    }


}

.img-box {

    .img-holder {
        position: relative;
        margin: 2em 0;
        width: 600px;
        height: 300px;
        overflow: hidden;
    }


    img {
        position: relative;
        margin: 2em 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;

        transition: opacity .3s, transform .3s;
    }

    hr {
        width: 100px;
        height: 2px;
    }

    img:hover {
        opacity: 1;
        transform: scale(1.1);
    }

}