@import '../../Styles/App.scss';


.footer {
    background: $color-second;


    .container {
        padding: 3%;

        .footer-data {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .copyright {
                font-size: 1.5em;
                opacity: 0.5;
            }

            .social-list {
                width: 10em;
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                font-size: 2em;


                .resume {
                    font-size: .8em;
                    transition: color .3s, font-size .3s;
                }

               

            }

        }
    }
}