@import './Settings.scss';
@import './Animations.scss';

.App {
    min-height: 100vh;
}

header {
    position: relative;
    height: 100vh;
}


.skils{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;

    .skils__box{
        display: flex;
        flex-direction: column;
        gap: 5em;
        justify-content: center;
        align-items: center;


        .skill-lane{
            width: 100%;
            padding: 5em;
            // border-top: 1px solid white;
            border-bottom: 1px solid white;

            p{
                display: flex;
                justify-content: space-evenly;
            }
        }

        .first{
            opacity: 0;
            transition: opacity 1s;
        }
        .second{
            opacity: 0;
            transition: opacity 1s;
        }
        .third{
            opacity: 0;
            transition: opacity 1s;
        }



    }
}















.cursor {
    position: fixed;
    z-index: 10000;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    filter: blur(0.6em);
    background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);

}


