@import './Settings.scss';

.App {
    min-height: 100vh;
}

header {
    position: relative;
    height: 100vh;
}



.projects{
    position: relative;
   isolation: isolate;
    padding: 15em;
    height: 800px;
    margin-top: 10em;

}

.projects::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(359deg, #080808FF 0%, #071714FF 100%);
    transform: skewY(-5deg);

}

