@import './settings.scss';
@import './Animations.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #333;
  border:1px solid inherit;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}


// background-image: linear-gradient(341deg, #080808FF 0%, #082527FF 100%);

body {
  height: 2vh;
  background-image: linear-gradient(320deg, #080808FF 0%, #0A2C27FF 100%);
  font-family: $font-text;
  font-size: $base-size ;
  color: white;
  letter-spacing: 0.5px;
  background-size: 150%;
  animation: bg-animation 10s infinite alternate ease-in-out ;
}

.container {
  margin-inline: 5%;
  width: 80%;
}
