@import './settings.scss';
@import './Animations.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background:$color-gradient;
  font-family: $font-text;
  font-size: ($base-size * 1.1);
  color: white;
  letter-spacing: 0.5px;
  background-size: 200%;
  animation: bg-animation 15s infinite alternate ;
}

:global(.container) {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}




.lines{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;

  .line{
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 10%;
    // background: rgba(255, 255, 255, 0.1);
    overflow: hidden;

      &::after{
        content: '';
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 5%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        animation: drop 7s 0s infinite forwards;
      }
  }
  .one{
    margin-left: 8%;
    &::after{
      animation-delay: 2s;}
  }
  .two{
    margin-left: -8%;
    &::after{
      animation-delay: 2.5s}
  }
}

