$color-main: black;
$color-second: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;
$color-gradient:  linear-gradient(320deg, #080808FF 0%, #0A2C27FF 100%);
$color-gradientTwo: linear-gradient(359deg, #080808FF 0%, #071714FF 100%);

$font-text: 'Josefin Sans', sans-serif;;

$radius: 5px;
$base-size: 10px;

$color-one: #03d468;
$color-two: #0ca043;
$color-three: #9df6c7;
$color-four: #20328b;
$color-five: #0051ff;


