$color-main: black;
$color-second: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;
$color-gradient: linear-gradient(-95deg,#282726 ,#0f0505 25%,#100f0f 25%, #282726 );


$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;