$color-main: black;
$color-second: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;
$color-gradient: linear-gradient(-125deg,#000000,rgb(57, 55, 72) ,#161617);


$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
