.nav__bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 85%;
    padding: 1em;
    backdrop-filter: blur(4px);
    background: inherit;
    z-index: 1000;

    .nav__bar-links {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .nav__burger-icon {
        position: absolute;
        right: -5em;
        cursor: pointer;
        padding:1em;

        .burger-icon-line {
            display: flex;
            justify-content: center;
            position: relative;
            height: .2em;
            width: 1.3em;
            background: white;
            border-radius: 2px;
            transition: width .3s;

            &::after {
                position: absolute;
                top: 10px;
                content: '';
                height: .2em;
                width: 0.8em;
                background: white;
                transition: width .3s;
            }

            &::before {
                position: absolute;
                top: -10px;
                content: '';
                height: .2em;
                width: 1.1em;
                background: white;
                transition: width .3s;
            }

        }
    }
}

.nav__burger-icon:hover .burger-icon-line::before {
    width: 2em;
}

.nav__burger-icon:hover .burger-icon-line::after {
    width: 2em;
}
.nav__burger-icon:hover .burger-icon-line{
    width: 2em;
}

