@import '../../Styles/App.scss';




.nav__bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100vw;
    padding:1em 2em;
    backdrop-filter: blur(1em);
    background: inherit;
    z-index: 10;
    border-radius: $radius;

    .nav__bar-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        z-index: 12;

        &.active{
            display: flex;
             position: absolute;
             inset: 0;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             height: 100vh;
             gap: 2em;
             background:black ;
         }


        .nav__link {
            font-size: 1.1em;
            padding: 1em;




        }



    }

    .nav__burger-icon {
        display: none;
        cursor: pointer;
        padding: 1em;
        z-index: 100;

        .burger-icon-line {
            display: flex;
            justify-content: center;
            position: relative;
            height: .2em;
            width: 1.3em;
            background: $color-main;
            border-radius: 2px;
            transition: width .3s;

            &::after {
                position: absolute;
                top: 10px;
                content: '';
                height: .2em;
                width: 0.8em;
                background: $color-main;
                transition: width .3s;
            }

            &::before {
                position: absolute;
                top: -10px;
                content: '';
                height: .2em;
                width: 1.1em;
                background: $color-main;
                transition: width .3s;
            }

        }
    }
}

.nav__burger-icon:hover .burger-icon-line::before {
    width: 2em;
}

.nav__burger-icon:hover .burger-icon-line::after {
    width: 2em;
}

.nav__burger-icon:hover .burger-icon-line {
    width: 2em;
}