
header {

    height: 90vh;

}

.title-box {
    display: flex;
    height: 100vh;
    align-items: center;


    .web-title {
        opacity: 0;
        font-size: 6em;
        line-height: 1.5em;
        animation: ShowText 3.5s .3s forwards ;
        transition: opacity;
    }
}

