header {
    height: 80vh;
    margin-bottom: 15%;

    // .logo {
    //     position: absolute;
    //     opacity: 0;
    //     top: 0;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     max-width: 350px;
    //     max-height: 350px;
    //     animation: ShowText 1.5s .3s forwards;
    //     transition: opacity;
    //     transition: transform .3s;



    //     img {
    //         width: 100%;
    //         height: 100%;
    //     }
    // }
    // .logo:hover{
    //     width: 360px;
    //     height: 360px;
    // }

}

.title-box {
    display: flex;
    height: 100vh;
    align-items: center;


    .web-title {
        opacity: 0;
        font-size: 6em;
        line-height: 1.5em;
        animation: ShowText 1.5s .3s forwards;
        transition: opacity;
    }
}